body{
    font-family: 'Lobster', cursive;
    background-image: url(../assets/images/standard.jpg);
}

.Title{
    text-align: center;
    color: blueviolet;
}
.standardButton{
    
    background-color:black;
    border: none;
    color: white;
    padding: 16px 32px;
    
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 50%;
    margin-top: 10%;
    
          
  
  
  
}
.standardButton:hover {opacity: 1}