body{
    font-family: 'Lobster', cursive;
    text-align: center;
    background-image: url(../assets/images/standard2.jpg);
}

.standardButton{
    
        background-color:black;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        
      
      
      
}
.standardButton:hover {opacity: 1}
.picto{
    height: 200px;
    width: 200px;
}
#gryffindor{
    background-color: #c1142e;
}
#slytherin{
    background-color: #3e900e;
}
#hufflepuff{
    background-color: #d1d719;
}
#ravenclaw{
    background-color: #4f45ef;
}
